@font-face {
font-family: 'RestaurantMenu';
src: url('restaurantmenu-webfont.eot');
src: url('restaurantmenu-webfont.eot#iefix') format('embedded-opentype'),
url('restaurantmenu-webfont.woff2') format('woff2'),
url('restaurantmenu-webfont.woff') format('woff'),
url('restaurantmenu-webfont.ttf') format('truetype'),
url('restaurantmenu-webfont.svg#svgwpf') format('svg');
}

body {
  background: linear-gradient(to right, #2EFEF7, #04B4AE);
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
  font-style: oblique;
  font-size: 60px;
  font-family: "RestaurantMenu", sans-serif !important;
}

.container{
  text-align: center;
  margin-top: 10px;
}

.btn{
  border: 1px solid #00BFFF;
  background: none;
  background-color: #00BFFF;
  padding: 7px 40px;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  transition: 0.8s;
}

.button{
  color: #0040FF;
}

.button:hover{
  color: #fff;
  background-color: #088A85;
  border: 1px solid #088A85;
}

.input{
  border: hidden;
  background: linear-gradient(to right, #0040FF, #DF01D7);
  padding: 15px 50px;
  text-align: center;
  font-size: 15px;
}
